name: Deploy to Hostinger VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan 62.72.31.227 >> ~/.ssh/known_hosts

    - name: Deploy via SSH
      run: |
        ssh -i ~/.ssh/id_rsa root@62.72.31.227 << 'EOF'
          cd /var/www/Yuvshiksha
          git pull origin main

          cd client
          npm install
          npm run build
          systemctl restart nginx

          cd ../server
          npm install
          npm run build
          pm2 restart all --update-env
        EOF